@import "tailwindcss";

@layer base {
  body {
    @apply bg-slate-950 text-slate-200 antialiased;
  }
  
  /* Custom Scrollbar for Dark Mode */
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    @apply bg-slate-950;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-slate-700 rounded-full hover:bg-slate-600;
  }
}